<form autocomplete="off">
  <div class="spire-flexbox">
    <img
      class="spire-portrait"
      src="{{actor.img}}"
      title="{{actor.name}}"
      data-edit="img"
    />
    <div class="spire-horizontal-gap"></div>
    <div>
      <input
        class="spire-general-information-input-name"
        type="text"
        name="name"
        value="{{actor.name}}"
      />
      <input
        class="spire-general-information-input"
        type="text"
        name="system.class"
        value="{{system.class}}"
        placeholder="{{localize 'SPIRE.Class'}}"
      />
      <div class="spire-vertical-gap"></div>
      <input
        class="spire-general-information-input"
        type="text"
        name="system.durance"
        value="{{system.durance}}"
        placeholder="{{localize 'SPIRE.Durance'}}"
      />
    </div>
    <div class="spire-flexbox-column w-100">
      <button id="action-roll-button">{{localize "SPIRE.ActionRoll"}}</button>
      <button id="stress-roll-button">{{localize "SPIRE.StressRoll"}}</button>
      <button id="refresh-roll-button">{{localize "SPIRE.RefreshRoll"}}</button>
    </div>
  </div>
  <div class="spire-vertical-gap"></div>
  <div class="spire-grid">
    <!-- Skills, domains and resistances -->
    <div class="spire-skills-domains-resistances">
      <!-- Skills -->
      <div>
        <div class="spire-skill-list-title">{{localize "SPIRE.Skills"}}</div>
        <div class="spire-skill-list">
          {{#each system.skills as |skill key|}}
          <div class="spire-skill">
            <a class="spire-skill-checkbox">
              <input
                id="{{key}}"
                type="checkbox"
                name="system.skills.{{key}}.value"
                {{checked
                skill.value}}
              />
              <label for="{{key}}"
                ><i class="far fa-circle"></i><i class="fas fa-check"></i
              ></label>
            </a>
            <span class="spire-skill-label">{{localize skill.label}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="spire-vertical-gap"></div>

      <!-- Domains -->
      <div>
        <div class="spire-domain-list-title">{{localize "SPIRE.Domains"}}</div>
        <div class="spire-domain-list">
          {{#each system.domains as |domain key|}}
          <div class="spire-domain">
            <a class="spire-domain-checkbox">
              <input
                id="{{key}}"
                type="checkbox"
                name="system.domains.{{key}}.value"
                {{checked
                domain.value}}
              />
              <label for="{{key}}"
                ><i class="far fa-circle"></i><i class="fas fa-check"></i
              ></label>
            </a>
            <span class="spire-domain-label">{{localize domain.label}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="spire-vertical-gap"></div>

      <!-- Resistances -->
      <div>
        <div class="spire-resistance-list-title">
          {{localize "SPIRE.ResistancesAndStress"}}
        </div>
        <div class="spire-resistance-list">
          {{#each system.resistances as |resistance key|}}
          <div class="spire-resistance">
            <div class="spire-flexbox">
              <input
                class="spire-resistance-value-input"
                id="{{key}}"
                type="number"
                name="system.resistances.{{key}}.value"
                value="{{resistance.value}}"
                min="0"
              />
              <span class="spire-resistance-label"
                >{{localize resistance.label}}</span
              >
            </div>
            <input
              class="spire-resistance-stress-input"
              id="{{key}}"
              type="number"
              name="system.resistances.{{key}}.stress"
              value="{{resistance.stress}}"
              min="0"
            />
          </div>
          {{/each}}
          <!-- Total stress -->
          <div class="spire-resistance">
            <div class="spire-flexbox">
              <div class="spire-fake-resistance-input"></div>
              <b class="spire-resistance-label"
                >{{localize "SPIRE.TotalStress"}}</b
              >
            </div>
            <b class="spire-fake-resistance-input">{{system.totalStress}}</b>
          </div>
        </div>
      </div>
    </div>

    <!-- Knacks -->
    <div class="spire-knacks spire-table">
      <div class="spire-table-title">
        <div class="spire-table-title-label">{{localize "SPIRE.Knacks"}}</div>
        <a class="spire-item-create" data-type="knack"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="spire-table-items">
        {{#each actor.knacks as |item id|}}
        <div class="spire-table-item" data-item-id="{{item._id}}">
          <div class="spire-table-item-title">
            <div class="spire-table-item-title-label" title="{{item.name}}">
              {{item.name}}
            </div>
            <div class="spire-table-item-title-controls">
              <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
              <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Equipment -->
    <div class="spire-equipment spire-table">
      <div class="spire-table-title">
        <div class="spire-table-title-label">
          {{localize "SPIRE.Equipment"}}
        </div>
        <a class="spire-item-create" data-type="equipment"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="spire-table-items">
        {{#each actor.equipments as |item id|}}
        <div class="spire-table-item" data-item-id="{{item._id}}">
          <div class="spire-table-item-title">
            <div class="spire-table-item-title-label" title="{{item.name}}">
              {{item.name}}
            </div>
            <div class="spire-table-item-title-controls">
              <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
              <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Refresh -->
    <div class="spire-refresh spire-table">
      <div class="spire-table-title">
        <div class="spire-table-title-label">{{localize "SPIRE.Refresh"}}</div>
        <a class="spire-item-create" data-type="refresh"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="spire-table-items">
        {{#each actor.refreshes as |item id|}}
        <div class="spire-table-item" data-item-id="{{item._id}}">
          <div class="spire-table-item-title">
            <div class="spire-table-item-title-label" title="{{item.name}}">
              {{item.name}}
            </div>
            <div class="spire-table-item-title-controls">
              <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
              <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Abilities -->
    <div class="spire-abilities spire-table">
      <div class="spire-table-title">
        <div class="spire-table-title-label">
          {{localize "SPIRE.Abilities"}}
        </div>
        <a class="spire-item-create" data-type="ability"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="spire-table-items">
        {{#each actor.abilities as |item id|}}
        <div class="spire-table-item" data-item-id="{{item._id}}">
          <div class="spire-table-item-title">
            <!-- TODO: remove this inline style -->
            <div style="display: flex">
              <div class="spire-table-item-title-label" title="{{item.name}}">
                {{item.name}}
              </div>
              &nbsp;
              <div class="spire-tag-list">
                <span class="spire-tag">{{item.system.use}}</span>
              </div>
            </div>
            <div class="spire-table-item-title-controls">
              <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
              <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Bonds -->
    <div class="spire-bonds spire-table">
      <div class="spire-table-title">
        <div class="spire-table-title-label">{{localize "SPIRE.Bonds"}}</div>
        <a class="spire-item-create" data-type="bond"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="spire-table-items">
        {{#each actor.bonds as |item id|}}
        <div class="spire-table-item" data-item-id="{{item._id}}">
          <div class="spire-table-item-title">
            <div class="spire-table-item-title-label" title="{{item.name}}">
              {{item.name}}
            </div>
            <div class="spire-table-item-title-controls">
              <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
              <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Fallout -->
    <div class="spire-fallout spire-table">
      <div class="spire-table-title">
        <div class="spire-table-title-label">{{localize "SPIRE.Fallout"}}</div>
        <a class="spire-item-create" data-type="fallout"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="spire-table-items">
        {{#each actor.fallouts as |item id|}}
        <div class="spire-table-item" data-item-id="{{item._id}}">
          <div class="spire-table-item-title">
            <div class="spire-table-item-title-label" title="{{item.name}}">
              {{item.name}}
            </div>
            <div class="spire-table-item-title-controls">
              <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
              <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</form>
