<form>
  <div class="spire-roll-popup">
    <!-- Resistance -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Resistance"}}</div>
      <div
        class="spire-roll-options spire-roll-options-row spire-roll-options-blue"
      >
        {{#each system.resistances as |resistance key|}} {{#unless
        resistance.armor}}
        <input
          type="radio"
          id="refresh-roll-{{key}}"
          name="refresh-roll-resistance"
          value="{{key}}"
        />
        <label for="refresh-roll-{{key}}">{{localize resistance.label}}</label>
        {{/unless}} {{/each}}
      </div>
    </div>
    <!-- Dice -->
    <div class="span-2-col">
      <div class="spire-popup-subtitle">{{localize "SPIRE.Dice"}}</div>
      <div
        class="spire-roll-options spire-roll-options-column spire-roll-options-blue"
      >
        <input
          type="radio"
          id="refresh-roll-d3"
          name="refresh-roll-dice"
          value="d3"
        />
        <label for="refresh-roll-d3">D3</label>
        <input
          type="radio"
          id="refresh-roll-d6"
          name="refresh-roll-dice"
          value="d6"
        />
        <label for="refresh-roll-d6">D6</label>
        <input
          type="radio"
          id="refresh-roll-d8"
          name="refresh-roll-dice"
          value="d8"
        />
        <label for="refresh-roll-d8">D8</label>
      </div>
    </div>
  </div>
</form>
