.spire.sheet.character {
  min-height: 833px;
  min-width: 600px;
}

/******************************************************************************
 * Generic helpers.                                                           * 
 ******************************************************************************/

.spire-flexbox {
  display: flex;
}

.spire-flexbox-column {
  display: flex;
  flex-direction: column;
}

.grid-12-col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.small-gap {
  gap: 4px;
}

.w-100 {
  width: 100%;
}

.span-2-col {
  grid-column-end: span 2;
}

.span-4-col {
  grid-column-end: span 4;
}

.span-6-col {
  grid-column-end: span 6;
}

.spire-horizontal-gap {
  width: 5px;
}

.spire-vertical-gap {
  height: 5px;
}

/******************************************************************************
 * General information.                                                       * 
 ******************************************************************************/

.spire-portrait {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

input.spire-general-information-input-name {
  background: none;
  border: 1px solid transparent;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 32px;
  height: 40px;
}

input.spire-general-information-input {
  background: none;
  border: 1px solid transparent;
  color: #4b4a44;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  height: 24px;
}

input.spire-general-information-input-name:hover,
input.spire-general-information-input:hover {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}

/******************************************************************************
 * Skills, domains and resistances lists.                                     * 
 ******************************************************************************/

.spire-skill-list-title,
.spire-domain-list-title,
.spire-resistance-list-title {
  color: #4b4a44;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
}

.spire-skill-list,
.spire-domain-list,
.spire-resistance-list {
  border: 2px groove #eeede0;
  border-radius: 3px;
}

.spire-skill,
.spire-domain,
.spire-resistance {
  display: flex;
  height: 24px;
}

.spire-skill,
.spire-domain {
  padding: 3px;
}

.spire-resistance {
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
}

.spire-skill:nth-child(even),
.spire-domain:nth-child(even),
.spire-resistance:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

.spire-skill-label,
.spire-domain-label,
.spire-resistance-label {
  font-size: 13px;
  line-height: 18px;
}

.spire-skill-checkbox input,
.spire-domain-checkbox input {
  cursor: pointer;
  margin: 0px;
  opacity: 0;
  position: absolute;
  height: 0px;
  width: 0px;
}

.spire-skill-checkbox label,
.spire-domain-checkbox label {
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0px !important;
  height: 18px !important;
  width: 16px !important;
}

.spire-skill-checkbox input + label .fa-circle,
.spire-domain-checkbox input + label .fa-circle {
  color: #b5b3a4;
  display: initial;
}

.spire-skill-checkbox input + label .fa-check,
.spire-domain-checkbox input + label .fa-check {
  display: none;
}

.spire-skill-checkbox input:checked + label .fa-circle,
.spire-domain-checkbox input:checked + label .fa-circle {
  display: none;
}

.spire-skill-checkbox input:checked + label .fa-check,
.spire-domain-checkbox input:checked + label .fa-check {
  color: #4b4a44;
  display: initial;
}

.spire-resistance-value-input,
.spire-resistance-stress-input {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: center !important;
  height: 100% !important;
  width: 20px !important;
}

.spire-resistance-stress-input {
  font-weight: bold;
}

.spire-fake-resistance-input {
  font-size: 13px;
  line-height: 18px;
  text-align: center;

  width: 20px;
}

.spire-resistance-value-input:hover,
.spire-resistance-stress-input:hover {
  border: 1px solid #111 !important;
  box-shadow: 0 0 8px red !important;
}

/******************************************************************************
 * Tables.                                                                    * 
 ******************************************************************************/

.spire-table {
  display: flex;
  flex-direction: column;
}

.spire-table-title {
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  padding: 0px 5px 0px 5px;
  height: 28px;
}

.spire-table-title-label {
  color: #4b4a44;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 16px;
}

.spire-item-create {
  color: #7a7971;
  font-size: 12px;
}

.spire-item-delete,
.spire-item-edit {
  color: #7a7971;
  font-size: 12px;
  line-height: 20px;
}

.spire-table-items {
  overflow: auto;
}

.spire-table-item {
  border-bottom: 1px solid #c9c7b8;
  padding: 2px 5px 2px 5px;
}

.spire-table-item-title {
  display: flex;
  justify-content: space-between;
}

.spire-table-item-title-label {
  font-weight: bold;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}

.spire-table-item-title-label:hover {
  cursor: pointer;
  text-shadow: 0 0 8px red;
}

.spire-table-item-title-controls {
  line-height: 20px;
  height: 20px;
}

.spire-tag {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  line-height: 16px;
  padding: 0 3px;
}

/******************************************************************************
 * Grid.                                                                      * 
 ******************************************************************************/

.spire-grid {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 150px repeat(3, calc((100% - 165px) / 3));
  grid-template-rows: repeat(10, calc(10% - 4.5px));
  height: 649px;
}

.spire-skills-domains-resistances {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 11;
}

.spire-knacks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.spire-equipment {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.spire-refresh {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.spire-abilities {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 11;
}

.spire-bonds {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;
}

.spire-fallout {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 11;
}

/******************************************************************************
 * Special style for roll popups.                                             *
 ******************************************************************************/

.spire-roll-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 8px;
}

.spire-popup-subtitle {
  text-align: center;
  margin-bottom: 4px;
  font-weight: bold;
}

.spire-roll-options input {
  display: none;
}

.spire-roll-options-row {
  display: grid;
  grid-auto-flow: row;
  gap: 4px;
}

.spire-roll-options-column {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 4px;
}

.spire-roll-options label {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  cursor: pointer;
  height: var(--form-field-height);
  line-height: var(--form-field-height);
  text-align: center;
  text-overflow: ellipsis;
}

.spire-roll-options input[type="checkbox"] + label {
  border-style: dashed;
  opacity: 0.75;
}

.spire-roll-options input[type="radio"]:checked + label {
  border-color: black;
  border-style: solid;
  color: #e9e7d8;
}

.spire-roll-options input[type="checkbox"]:checked + label {
  border-color: black;
  border-style: solid;
  color: #e9e7d8;
  opacity: 1;
}

.spire-roll-options-blue input[type="checkbox"]:checked + label,
.spire-roll-options-blue input[type="radio"]:checked + label {
  background: rgb(47, 80, 132);
}

.spire-roll-options-red input[type="checkbox"]:checked + label,
.spire-roll-options-red input[type="radio"]:checked + label {
  background: #822a15;
}

/******************************************************************************
 * Special style for the roll message.                                        *
 ******************************************************************************/

.spire-roll-info-inactive {
  border: 1px dashed #7a7971;
  border-radius: 3px;
  opacity: 0.75;
  padding: 3px;
  text-align: center;
}

.spire-roll-info-active {
  background: rgb(47, 80, 132);
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  padding: 3px;
  text-align: center;
}

.spire-roll-info-difficulty {
  background: #822a15;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  padding: 3px;
  text-align: center;
}

.spire-muted-die {
  opacity: 0.3;
}
